body {
    background-image: url('../../../assets/img/list.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

ion-card {
    margin-top: 50px;
}

label {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: double;
}

b {
    margin-left: 50px
}